# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Виртуальное окружение
venv/
env/
ENV/

# Переменные окружения (НИКОГДА не пушить!)
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Логи
*.log