{% extends "base.html" %}

{% block title %}Все заказы{% endblock %}

{% block content %}
<h2>Все заказы</h2>

{% for order in orders %}
    <div class="card">
        <p><strong>Заказ №{{ order.id }}</strong></p>
        <p><strong>ID клиента:</strong> {{ order.user_id }}</p>
        <p><strong>Статус:</strong> {{ order.status }}</p>
        <p><strong>Сумма:</strong> {{ order.total_price }} ₽</p>
        <p><strong>Дата мероприятия:</strong> {{ order.event_date }}</p>
        <a class="btn btn-secondary"
        href="{{ url_for('main.admin_order_detail', order_id=order.id) }}">
            Подробнее
        </a>
    </div>

{% else %}
    <p>Заказы отсутствуют</p>
{% endfor %}

{% endblock %}
