{% extends "base.html" %}

{% block title %}Корзина{% endblock %}

{% block content %}
<h2>Корзина</h2>

{% if items %}
    {% for item in items %}
        <div class="card">
            <strong>{{ item.dish.name }}</strong><br>
            Количество: {{ item.quantity }}<br>
            Сумма: {{ item.subtotal }} ₽
        </div>
    {% endfor %}

    <h3>Итого: {{ total }} ₽</h3>

    <a class="btn" href="{{ url_for('main.checkout') }}">
        Оформить заказ
    </a>
{% else %}
    <p>Корзина пуста</p>
{% endif %}

{% endblock %}
