<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <h2>Checkout</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.event_date.label }}<br>
            {{ form.event_date() }}
        </p>

        <p>
            {{ form.event_time.label }}<br>
            {{ form.event_time() }}
        </p>

        <p>
            {{ form.address.label }}<br>
            {{ form.address() }}
        </p>

        <p>
            {{ form.guests_count.label }}<br>
            {{ form.guests_count() }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
