{% extends "base.html" %}

{% block title %}Заказы кухни{% endblock %}

{% block content %}
<h2>Заказы кухни</h2>

{% for order in orders %}
    <div class="card">
        <p><strong>Заказ №{{ order.id }}</strong></p>
        <p>Дата: {{ order.event_date }} {{ order.event_time }}</p>

        <p>
            Статус:
            {% if order.status == "paid" %}
                🟡 Новый
            {% elif order.status == "cooking" %}
                🔥 В работе
            {% elif order.status == "ready" %}
                ✅ Готов
            {% endif %}
        </p>

        <a class="btn"
           href="{{ url_for('main.kitchen_order_detail', order_id=order.id) }}">
            Подробнее
        </a>
    </div>
{% else %}
    <p>Нет заказов для кухни</p>
{% endfor %}

{% endblock %}
