{% extends "base.html" %}

{% block title %}Производственный отчёт{% endblock %}

{% block content %}
<h2>Производственный отчёт</h2>

<form method="get">
    <label>
        Дата:
        <input type="date" name="date" value="{{ report_date }}">
    </label>
    <button class="btn">Показать</button>
</form>

<hr>

<h3>Заказы на {{ report_date }}</h3>

{% for order in orders %}
    <div class="card">
        <strong>Заказ №{{ order.id }}</strong><br>
        Время: {{ order.event_time }}<br>
        Гостей: {{ order.guests_count }}<br>
        Статус: {{ order.status }}

        <br><br>
        <a class="btn"
           href="{{ url_for('main.kitchen_order_detail', order_id=order.id) }}">
            Открыть заказ
        </a>
    </div>
{% else %}
    <p>На выбранную дату заказов нет</p>
{% endfor %}

<hr>

<h3>Блюда на {{ report_date }}</h3>

{% if dishes_summary %}
    <div class="card">
        <table>
            <tr>
                <th align="left">Блюдо</th>
                <th align="left">Всего порций</th>
            </tr>

            {% for dish, quantity in dishes_summary.items() %}
                <tr>
                    <td>{{ dish }}</td>
                    <td>{{ quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p>Нет блюд для приготовления</p>
{% endif %}
<hr>

<h3>Ингредиенты на {{ report_date }}</h3>

{% if ingredients_summary %}
    <div class="card">
        <table>
            <tr>
                <th align="left">Ингредиент</th>
                <th align="left">Количество</th>
            </tr>

            {% for ingredient, amount in ingredients_summary.items() %}
                <tr>
                    <td>{{ ingredient }}</td>
                    <td>{{ amount }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <p>Нет данных по ингредиентам</p>
{% endif %}

{% endblock %}
